[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "20"
  VITE_API_BASE_URL = "https://ep-still-leaf-ahbff0cx.apirest.c-3.us-east-1.aws.neon.tech/neondb/rest/v1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
